<div *ngIf="question">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{question.question}}</h3>
    </div>
    <div class="list-group">
      <a href="#"
         *ngFor="let option of question.options"
         [class]="defineAnsweredClass(option) + ' list-group-item'"
         [ngClass]="{'survey-disabled': isSubmitted}"
         (click)="!isSubmitted && onOptionSelect(option)">
        <input type="{{inputType}}" [checked]="isChecked(option.text)" [ngClass]="{'disabled': isSubmitted}">
        {{option.text}}
      </a>
    </div>
    <div class="panel-body">
      <div class="pull-left">
        <div *ngIf="!isSubmitted; else nextButton">
          <input class="btn btn-default" type="submit" value="Submit" (click)="onSubmit()"
                 [class.disabled]="!isAnyOptionSelected">
        </div>
        <ng-template #nextButton>
          <input class="btn btn-default" type="submit" value="Next" (click)="onNext()">
        </ng-template>
      </div>
      <div class="pull-right">
        {{counter[0]}} / {{counter[1]}}
      </div>
    </div>
  </div>
</div>
